
.search_main_section {
    width: 100%;
    float: left;
    margin-top: 180px;
  }

  .container1 {
    max-width: 1190px;
  }

  .container1 {
    max-width: 960px;
  }

  .container1 {
    max-width: 720px;
  }
  .container1 {
    max-width: 540px;
    max-width: 100%;
  }
  .container1 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .bread_cb {
    width: 100%;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #dbdddd;
    padding: 0 0 15px 0;
    margin: 0 0 25px 0;
  }

  .bread_cb a {
    color: #666666;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    float: left;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  a {
    text-decoration: none;
  }

  .bread_cb span {
    float: left;
    margin: 0 15px;
  }

  .bread_cb span i {
    color: #666666;
    font-size: 16px;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .laft_search_panel {
    width: 22%;
    float: left;
    padding: 0 0 15px 0;
  }

  .laft_search_panel h3 {
    font-size: 19px;
    color: #f78817;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    font-weight: 500;
  }
  .h3, h3 {
    font-size: 1.75rem;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  

  .form_group{
      position: relative;
  }

  .search-input {
    border: 1px solid #8a92a3;
    padding: 1px 40px 0 15px;
    height: 44px;
    width: 93%;
    margin: 0 0 18px 0;
    color: #706d6e;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .search-icon {
    position: absolute;
    top: 15px;
    right: 30px;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }

  .search-label {
    font-size: 16px;
    color: #222a2f;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    border-bottom: 1px solid #dbdddd;
    padding-bottom: 8px;
    margin-bottom: 11px;
  }
  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  label {
    list-style: none;
    padding: 0px;
      padding-bottom: 0px;
    margin: 0px;
      margin-bottom: 0px;
    margin-bottom: 0px;
  }

  .select {
    border: 1px solid #8a92a3;
    padding: 2px 40px 0 12px;
    height: 44px;
    width: 93%;
    margin: 0 0 25px 0;
    color: #706d6e;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    /* background: url(../images/drp_arw.png) no-repeat 98% 15px; */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  button, select {
    text-transform: none;
  }
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .search_label {
    font-size: 16px;
    color: #222a2f;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    float: left;
    width: 100%;
    border-bottom: 1px solid #dbdddd;
    padding-bottom: 8px;
    margin-bottom: 11px;
  }
  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  label {
    list-style: none;
    padding: 0px;
      padding-bottom: 0px;
    margin: 0px;
      margin-bottom: 0px;
    margin-bottom: 0px;
  }

  .c_ul {
    width: 100%;
    float: left;
  }
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0px !important;
  }

  ul {
    list-style: none;
  }

  .contect_container_checkBox {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 17px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 0;
    line-height: 18px;
    color: #474644;
  }
  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  label {
    list-style: none;
    padding: 0px;
      padding-left: 0px;
    margin: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
    margin-bottom: 0px;
  }
  

  input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  .contect_container_checkBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .contect_container_checkBox input:checked ~ .contect_checkmark {
    background-color: #ed3036;
    border: none;
  }

  .contect_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 17px;
    background-color: #fff;
    border: 2px solid #b5b5b5;
    border-radius: 2px;
  }

  .contect_container_checkBox {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #474644;
  }
  label {
    list-style: none;
  }

  .slider_rnge {
    float: left;
    display: block;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
  }

  .ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
  }
  .slider_rnge .ui-slider-horizontal {
    background: #3c3b37 none repeat scroll 0 0 !important;
    border: medium none !important;
    height: 5px !important;
    margin: 0;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
  }
  .ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
  }
  .ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
  }
  .ui-slider-horizontal {
    height: .8em;
  }
  .ui-slider {
    position: relative;
    text-align: left;
  }

  #ui-header {
    left: 0%;
    width: 100%;
  }
  .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
  }
  .ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
      background-position-x: 0%;
      background-position-y: 0%;
    color: #333333;
    font-weight: bold;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .ui-widget-content {
    color: #333333;
  }
  .ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
  }
  .ui-slider {
    text-align: left;
  }

  #ui-default{
      left: 1%;
  }

  #ui-cor{
      left: 50%;
  }

  .slider_rnge .ui-state-default, .slider_rnge .ui-widget-content .ui-state-default, .slider_rnge .ui-widget-header .ui-state-default {
    background: #ed3036 !important;
  }
  .slider_rnge .ui-state-default, .slider_rnge .ui-widget-content .ui-state-default, .slider_rnge .ui-widget-header .ui-state-default {
    border-radius: 50% !important;
    height: 13px !important;
    top: -4px !important;
    width: 13px !important;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
  }
  .ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
  }
  .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #ed3036 !important;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
  }
  .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
  }
  .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 3px;
  }
 
  #slider-handel {

    left: 1%;
    width: 49%;

}
.ui-slider .ui-slider-range:last-child {

    background: #ed3036 !important;

}
.ui-slider-horizontal .ui-slider-range {

    top: 0;
    height: 100%;

}
.ui-slider .ui-slider-range {

    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;

}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {

    border-bottom-right-radius: 3px;

}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {

    border-bottom-left-radius: 3px;

}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {

    border-top-right-radius: 3px;

}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {

    border-top-left-radius: 3px;

}
.ui-widget-header {

    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;

}

.range-text {
    padding-left: 10px;
    color: #555555;
    font-weight: 500;
    font-size: 16px;
  }

  #amount {
    border: none !important;
    margin-top: 18px;
    color: #555555;
    font-size: 16px;
    margin-left: -15px;
    font-weight: 700;
  }
  button, input {
    overflow: visible;
  }
  button, input, optgroup, select, textarea {
    margin: 0;
      margin-top: 0px;
      margin-left: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  
[type="reset"], [type="submit"], button, html [type="button"] {

    -webkit-appearance: button;

}
.search-submit1 {

    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 2px 24px 0 24px;
    background: #ed3036;
    border-radius: 3px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin: 16px 0px 15px 0;
    height: 38px;

}
button, select {

    text-transform: none;

}
button, input {

    overflow: visible;

}
button, input, optgroup, select, textarea {

    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

}
button {

    border-radius: 0;

}

.right_search_panel {
    float: right;
    width: 78%;
    padding: 0 0 0 10px;
    border-left: 1px solid #dbdddd;
  }

  .evnt_shot_by_main {
    width: 99.5%;
    float: right;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    padding: 12px 0;
    margin: 0 0 25px 0;
  }

  .event-sort {
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin: 6px 0 0 0;
    line-height: 24px;
  }
  label {
    display: inline-block;
    margin-bottom: .5rem;
  }
  label {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
  }

  .sort-filter {
    float: right;
    width: auto;
  }

  .sort-select {
    height: 37px;
    border: 1px solid #cccbcb;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #262626;
    padding: 5px 30px 5px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: #fff url("../images/drp_arw.png") no-repeat right 6px center; */
    cursor: pointer;
    border-radius: 1px;
  }
  button, select {
    text-transform: none;
  }
  button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  .search_proo {
    float: left;
    width: 24%;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    margin: 0 0.5% 25px 0.5%;
    padding: 10px;
    transition: 0.3s;
  }

  .srch_pic_box {
    width: 100%;
    height: 222px;
    background: #f2f6f9;
    overflow: hidden;
    position: relative;
    display: inline-block;
  }

  .srch_pic_box img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
    -moz-transition: -moz-transform 0.5s ease-in;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    -o-transition: -o-transform 0.5s ease-in;
    transition: 0.5s ease;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }

  .srch_pic_box span {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.2);
    height: 100%;
    display: none;
    transition: 0.3s;
  }

  .srch_pic_box span a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background: #ed3036;
    border-radius: 3px;
    padding: 12px 16px 12px 16px;
    transition: 0.3s;
    height: 40px;
    top: 44%;
    width: 150px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  a {
    text-decoration: none;
  }

  .srch_dtls_box {
    float: left;
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 12px 0 2px 0;
  }

  .srch_dtls_box a {
    font-size: 17px;
    color: #202e48;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  a {
    text-decoration: none;
  }

  .srch_dtls_box p {
    font-size: 15px;
    color: #e53230;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 4px 0 0 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #454545;
    margin: 0;
    padding: 0;
  }

  .w-100 {
    width: 100% !important;
  }
  .w-100 {
    width: 100% !important;
    overflow: hidden;
  }

  .pagination-area {
    float: right;
    width: auto;
    padding: 0;
    margin: 10px 0 30px 0;
  }

  .pagination-area ul {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    margin: 0px;
    display: inline-block;
    background: #fff;
  }
  dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0px !important;
  }

  .pagination-area ul li {
    float: left;
    list-style: none;
    display: block;
  }

  .pagination-area ul li:first-child a {
    border-right: 1px solid #d3d3d3;
    width: auto;
    padding: 0 10px;
  }
  .pagination-area ul li:first-child a, .pagination-area ul li:last-child a {
    border: none;
      border-right-color: currentcolor;
      border-right-style: none;
      border-right-width: medium;
    background: none;
  }
  .pagination-area ul li a {
    width: 40px;
    height: 36px;
    background: #fff;
    text-align: center;
    line-height: 38px;
    color: #353535;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    border-right: 1px solid #d3d3d3;
  }
  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  a {
    text-decoration: none;
  }

  .pagination-area ul li:first-child .fa {
    margin-right: 8px;
  }
  .pagination-area .fa {
    font-size: 18px;
    top: 0;
    position: relative;
    color: #ed3036;
  }
  .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

